<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>🍒Foodscanner</title>
    <link rel="icon" href="/icons/apple-icon-180.png" />
    <link rel="apple-touch-icon" href="/icons/apple-icon-180.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Libre+Barcode+128"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a00741c032.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>🍒 Foodscan</h1>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <a href="https://nl.openfoodfacts.org/">https://nl.openfoodfacts.org/</a>
    </footer>
    <script src="/scripts/client.js"></script>
  </body>
</html>