<section class="offline">
  <h2>Het lijkt er op dat je geen verbinding hebt...</h2>
  <p>Stay Connected van Blackberry tot Iphone en probeer het later nog eens</p>
  <img src="/images/stay-connected.jpeg" alt="tik japan" />
</section>