<section class="scanner">
  <div class="hiddenDiv">
    <img src="images/border.png" alt="laser beam" />
    <span> <!-- span voor laser straal stylen --></span>
    <video></video>
    <form action="/" method="get">
      <button aria-label="stop camera">
        <i class="fa fa-video-slash"></i>
      </button>
    </form>
  </div>
  <form class="barcodeInput" action="/scanner" method="post">
    <input placeholder="Barcode" type="number" name="barcode" />
    <button>Zoek</button>
  </form>
</section>
<section class="loader">
  <span></span>
</section>