<section class="error">
  <h2>Sorry het lijkt er op dat de barcode:
    {{barcode}}
    niet herkend wordt...</h2>
  <h3>Probeer het opnieuw met een andere barcode</h3>
  <form action="/scanner" method="get">
    <button>
      <i class="far fa-grin-beam-sweat"></i>
    </button>
  </form>
</section>