<section class="home">
  <h2>Activeer je camera om te starten met scannen</h2>
  <form action="/scanner" method="get">
    <button>
      <i class="fa fa-video"></i>
    </button>
  </form>

</section>