<section class="scanner">
  <img src="images/border.png" alt="" />
  <span> <!-- span voor laser straal stylen --></span>
  <video></video>
  <form action="/" method="get">
    <button>
      <i class="fa fa-video-slash"></i>
    </button>
  </form>
</section>